{%extends 'base_all.html' %}

<!-- ************************************************************  -->

{% block title %} Allignment {% endblock %}

{% block templatetitle %}

<div class="page-title-box">
    <h4 class="page-title">Allignment</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">AutoGAW</li>
        <li class="breadcrumb-item"> <a href="{% url 'home' %}">Acceuil</a></li>
        <li class="breadcrumb-item active">Allignment</li>
    </ol>
</div>

{% endblock %}

<!-- ************************************************************  -->

{% block content %}
{%if result is not None %}

<h3>{{result}}</h3>

{%else%}
<form  action="{%url 'alignment'%}" method="post">
  {% csrf_token %}
  <input type="text" name="test" value="">
</form>
{%endif%}
{% endblock %}

<!-- ************************************************************  -->

{% block addedscripts %}

{% endblock %}
