{%extends 'base_all.html' %}

<!-- ************************************************************  -->

{% block title %} Variant Calling {% endblock %}

{% block templatetitle %}

<div class="page-title-box">
    <h4 class="page-title">Variant Calling</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">AutoGAW</li>
        <li class="breadcrumb-item"> <a href="{% url 'home' %}">Acceuil</a></li>
        <li class="breadcrumb-item active">Variant Calling</li>
    </ol>
</div>

{% endblock %}

<!-- ************************************************************  -->

{% block content %}

{% endblock %}

<!-- ************************************************************  -->

{% block addedscripts %}

{% endblock %}
